[Desktop Entry]
Encoding=UTF-8
Name=Redshift Control
Name[de]=Redshift Einstellungen
Name[sr]=Контрола црвеног помака
Name[sr@ijekavian]=Контрола црвеног помака
Name[sr@ijekavianlatin]=Kontrola crvenog pomaka
Name[sr@latin]=Kontrola crvenog pomaka
Comment=Plasmoid for controling redshift.
Comment[de]=Plasmoid zum steuern von Redshift.
Comment[sr]=Плазмоид за контролу црвеног помака.
Comment[sr@ijekavian]=Плазмоид за контролу црвеног помака.
Comment[sr@ijekavianlatin]=Plazmoid za kontrolu crvenog pomaka.
Comment[sr@latin]=Plazmoid za kontrolu crvenog pomaka.
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Kotelnik
X-KDE-PluginInfo-Email=clearmartin@seznam.cz
X-KDE-PluginInfo-License=GPL2
X-KDE-PluginInfo-Name=org.kde.redshiftControl
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://github.com/kotelnik/plasma-applet-redshift-control
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-NotificationArea=true
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
X-KDE-PluginInfo-Category=Graphics
Icon=redshift
#prefix for Icon is: /usr/share/icons/breeze/actions/toolbar/
#copy this file into ~/.local/share/kservices5
